/* Resetting default margins, padding, and fonts */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'copperplate';
    background: #000000;
}

/* Body styles */
body {
    color: #d9c214;
    font-size: xx-large;
}

/* Centered text class */
.centered {
    text-align: center;
}

/* Navigation styles */
nav {
    text-align: center;
    background-color: #d9c214;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
}

nav a + a {
    margin-left: 20px;
}

/* Table styles */
th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-size: medium;
}

tr, td {
    font-size: x-small;
    border: 1px solid #ccc;
    text-align: center;
}

/* Header styles */
h1 {
    color: #c8b61a;
    font-family: 'copperplate';
}

/* Footer styles */
footer {
    text-align: center;
    
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: inline-block;
}

/* Generic div styles */
div {
    color: #a9a9a9;
    font-family: 'typewolf';
    margin-top: 0;
    font-size: large;
    text-align: center;
}

/* Specific styles for .Maintext class */
.Maintext {
    box-sizing: content-box;
    width: 800px;
    height: 120px;
    margin: 2% auto;
}

