body, html {
    margin: 0;
    padding: 0;
    font-family: 'copperplate';
    background: #000000;
}
body {
    color: #d9c214; 
    font-size: xx-large;
}
.centered{ text-align: center;}

nav {
    text-align: center;
    background-color: #d9c214;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
}

nav a + a {
    margin-left: 20px;
}
td{
    border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
            font-size: xx-small;
}
th{
    border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
            font-size: medium;
}
h1 {
    color: #c8b61a;
    font-family: 'copperplate';
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed; /* Fixed positioning to keep it at the bottom */
    width: 100%;
    left:   0;
    bottom: 0;
    display: inline-block;
}

m1{
    color: #a9a9a9;
    font-family: 'helvetica';
    text-align: center;
    padding: 10px;
    font-size: medium;
}
.Maintext{
    box-sizing: content-box;
    width: 800px;
    height: 800px;
    margin: 10% auto
}